
tests/__pycache__/__init__.cpython-39.pyc
tests/__pycache__/test_hstransform.cpython-310-pytest-8.0.2.pyc
tests/__pycache__/test_hstransform.cpython-39-pytest-7.2.2.pyc
__pycache__/__init__.cpython-39.pyc
*.pyc
.ipynb_checkpoints/hstransform-checkpoint.py
.ipynb_checkpoints/__init__-checkpoint.py
tests/.ipynb_checkpoints/test_hstransform-checkpoint.py
